# Ignored files

# Output files
*.wav
app/python/results/*

# GitEye
*.project
*.cproject
/.settings/

# Temporary files
*.swp
*.save
*.RData
*.Rhistory

# Python
*.pyc

# Kernel Module compilation
*.config
*.ko
*.o
*.mod
*.mod.c
*.ko.cmd
*.o.cmd
*.symvers
*.order
*.save

# Linux Kernel Docs
linux-3.17.1/Documentation/*

# Latex
*.aux
*.bbl
*.blg
*.dvi
*.log
*.pdf
*.ps
*.toc
*~
*.lof 
*.glo
*.gls
*.ilg
*.ist
*.glg
*.synctex.gz
*.brf
*.idx

