# Ignored files

# GitEye
*.project
*.cproject
/.settings/

# Kernel Module compilation
*.ko
*.o
*.mod
*.mod.c
*.ko.cmd
*.o.cmd
*.symvers
*.order
*.save

# Latex
*.aux
*.bbl
*.blg
*.dvi
*.log
*.pdf
*.ps
*.toc
*~
*.lof 
*.glo
*.gls
*.ilg
*.ist
*.glg
*.synctex.gz
*.brf
*.idx

